[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/assimp/assimp
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://github.com/freetype/freetype
[submodule "third_party/pugixml"]
	path = third_party/pugixml
	url = https://github.com/zeux/pugixml
[submodule "third_party/meshoptimizer"]
	path = third_party/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "third_party/Vulkan-Headers"]
	path = third_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "third_party/DirectX-Headers"]
	path = third_party/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "third_party/metal-cpp"]
	path = third_party/metal-cpp
	url = https://github.com/bkaradzic/metal-cpp
[submodule "third_party/compressonator"]
	path = third_party/compressonator
	url = https://github.com/GPUOpen-Tools/compressonator
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "third_party/SPIRV-Cross"]
	path = third_party/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "third_party/lz4"]
	path = third_party/lz4
	url = https://github.com/lz4/lz4
[submodule "third_party/enet"]
	path = third_party/enet
	url = https://github.com/lsalzman/enet
[submodule "third_party/OpenXR-SDK"]
	path = third_party/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "third_party/bullet3"]
	path = third_party/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "third_party/box2d"]
	path = third_party/box2d
	url = https://github.com/erincatto/box2d
[submodule "third_party/spine-runtimes"]
	path = third_party/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes
[submodule "third_party/libjpeg-turbo"]
	path = third_party/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "third_party/OpenGL-Registry"]
	path = third_party/OpenGL-Registry
	url = https://github.com/KhronosGroup/OpenGL-Registry
[submodule "third_party/D3D12MemoryAllocator"]
	path = third_party/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "third_party/VulkanMemoryAllocator"]
	path = third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third_party/entt"]
	path = third_party/entt
	url = https://github.com/skypjack/entt
[submodule "third_party/metal-cpp-extensions"]
	path = third_party/metal-cpp-extensions
	url = https://gitlab.com/mark-grimes/metal-cpp-extensions
[submodule "third_party/wasm_webgpu"]
	path = third_party/wasm_webgpu
	url = https://github.com/juj/wasm_webgpu
