# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
build
build-linux
build-emsdk
build-default
test-emsdk
build-windows
solutions/VisualStudio2026/.vs
solutions/VisualStudio2026/intermediate
solutions/VisualStudio2026/out
solutions/VisualStudio2026/SimdJsonPlatground/x64
editor/shaders/.vs
testbed_project/shaders/.vs
solutions/VisualStudio2026/x64
TestBedUWP/x64
engine/shaders/.vs
